body {
    overflow:hidden;
}

.titulo {
	margin-top: 5px;
	font-size: 30px !important;
	font-weight: bold;
}

.sub-titulo {
	margin-top: -12px;
	font-size: 15px !important;
	font-weight: bold;
}

.alert {
	font-size: 15px !important;
	font-weight: bold;
}


.entrada {
	margin-top: 10px;
	font-size: 30px !important;
}
.btn-verificar {
	font-size: 20px !important;
}


.pinkBg {
background-color: #ed184f!important;
background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}
.intro-banner-vdo-play-btn{
    height:20px;
    width:20px;
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    margin:-30px 0 0 -30px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn i{
    line-height:56px;
    font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:160px;
    height:160px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}

.flashpoint-pd {
    position: absolute;
    top: 95px;
	left: 320px;      
    height: 22px;    
    width: 17px;    
}

.flashpoint-pe {
    position: absolute;
    top: 95px;
	left: 180px;      
    height: 22px;    
    width: 17px;    
}

.flashpoint-id {
    position: absolute;
    top: 40px;
	left: 344px;      
    height: 22px;    
    width: 17px;    
}

.flashpoint-ie {
    position: absolute;
    top: 40px;
	left: 156px;      
    height: 22px;    
    width: 17px;    
}