	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/11/2017 08:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-zoom-out-2:before { content: "\f100"; }
.flaticon-002-zoom-out-1:before { content: "\f101"; }
.flaticon-003-zoom-out:before { content: "\f102"; }
.flaticon-004-zoom-in-2:before { content: "\f103"; }
.flaticon-005-zoom-in-1:before { content: "\f104"; }
.flaticon-006-zoom-in:before { content: "\f105"; }
.flaticon-007-keypad-2:before { content: "\f106"; }
.flaticon-008-tap-9:before { content: "\f107"; }
.flaticon-009-tap-8:before { content: "\f108"; }
.flaticon-010-tablet:before { content: "\f109"; }
.flaticon-011-swipe-right:before { content: "\f10a"; }
.flaticon-012-swipe-left:before { content: "\f10b"; }
.flaticon-013-swipe-2:before { content: "\f10c"; }
.flaticon-014-split:before { content: "\f10d"; }
.flaticon-015-swipe-1:before { content: "\f10e"; }
.flaticon-016-scroll-1:before { content: "\f10f"; }
.flaticon-017-scroll:before { content: "\f110"; }
.flaticon-018-swipe:before { content: "\f111"; }
.flaticon-019-rotate-4:before { content: "\f112"; }
.flaticon-020-rotate-3:before { content: "\f113"; }
.flaticon-021-rotate-2:before { content: "\f114"; }
.flaticon-022-rotate-1:before { content: "\f115"; }
.flaticon-023-pointing-right:before { content: "\f116"; }
.flaticon-024-peace:before { content: "\f117"; }
.flaticon-025-drag-3:before { content: "\f118"; }
.flaticon-026-hand-1:before { content: "\f119"; }
.flaticon-027-hand:before { content: "\f11a"; }
.flaticon-028-smartphone:before { content: "\f11b"; }
.flaticon-029-tap-7:before { content: "\f11c"; }
.flaticon-030-grab:before { content: "\f11d"; }
.flaticon-031-keypad-1:before { content: "\f11e"; }
.flaticon-032-keypad:before { content: "\f11f"; }
.flaticon-033-drag-2:before { content: "\f120"; }
.flaticon-034-placeholder:before { content: "\f121"; }
.flaticon-035-drag-1:before { content: "\f122"; }
.flaticon-036-drag:before { content: "\f123"; }
.flaticon-037-tap-6:before { content: "\f124"; }
.flaticon-038-do-not-touch-1:before { content: "\f125"; }
.flaticon-039-do-not-touch:before { content: "\f126"; }
.flaticon-040-tap-5:before { content: "\f127"; }
.flaticon-041-tap-4:before { content: "\f128"; }
.flaticon-042-tap-3:before { content: "\f129"; }
.flaticon-043-rotate:before { content: "\f12a"; }
.flaticon-044-tap-2:before { content: "\f12b"; }
.flaticon-045-tap-1:before { content: "\f12c"; }
.flaticon-046-tap:before { content: "\f12d"; }